
body {
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
}

.cart {
    background-color: #f0f0f0;
    padding: 2vh;
    display: flex;
    overflow: hidden;
    margin: 2em 1em;
}

.products {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 2vh 0;
    padding: 1em;
    width: 65%;
    overflow: hidden;
    flex: 1;
    /*for taking the available space */

}

table {
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: center;
}


/* 
#container {
    display: flex;
    align-items: center;
    background-color: #F1DEC6;
    padding: 1em;
    flex-wrap:  wrap;
}
#searchProducts:focus {
    border-color: #FF8343;
    outline: none;
}

header .icon-cart {
    position: relative;
}

header .icon-cart span {
    display: flex;
    width: 2em;
    height: 2em;
    background-color: #FF8343;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}

.material-symbols-outlined {
    background-color: #f6f6f6;
    border-radius: 50%;
    border: 2px solid #179BAE;
    height: auto;
    padding: 0.4em;
}

.navbar {
    background-color: #179BAE;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1em;
    
}

.navbar li a {
    font-size: 1em;
    font-weight: bold;
    background-color: #FF8343;
    border-radius: 4px;
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    border: 2px solid white;
} */

/* #searchProducts {
    flex: 1; /*i put it for the grow and shrink and basis so it will take tha available space
    padding: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    border-radius: 28px;
    border: 2px solid #179BAE;
} */

.remove-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    cursor: pointer;
    font-weight: bold;
}

.remove-button:hover {
    background-color: darkred;
}

.quantity-number {
    width: 1vw;
    text-align: center;
    border-radius: 10px;
    border: #b0b0b0;
    font-weight: bold;
}

.quantity-button {
    background-color: #308dba;
    border-radius: 40%;
    border: 2px solid #179BAE;
    padding: 0.5em;
    cursor: pointer;
    color: white;
    height: 4vh;
}

.total {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2em;
    min-width: fit-content;
    align-self: flex-end;
    margin: 1em 0 1em 1em;
}

.proceed {
    display: block;
    text-align: center;
    font-weight: bold;
    background-color: #179BAE;
    padding: 1em 2em;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1.5em;
}

.proceed:hover {
    background-color: darkgreen;
}

.top {
    position: fixed;
    right: 2vh;
    bottom: 2vh;
    background-color: #179BAE;
    border-radius: 70%;
    padding: 0.5em;
    cursor: pointer;
}

.top span {
    font-size: 3em;
    color: #FF8343;
}

.clear-cart {
    text-align: center;
    background-color: #179BAE;
    margin: 1em;
    border-radius: 10px;
    padding: 1em;

}

.clear-cart:hover {
    background-color: darkred;
}

.clear-cart a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

hr {
    margin: 1em 0;
    border: 0.5px solid #b0b0b0;
}

@media (max-width: 1400px) {

    .cart, .products, .total, .product-item {
        flex-direction: column;
        overflow: hidden;
        align-self: flex-start;
    }
}