*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #4158A6;
}

#container{
    
    display: flex;
    align-items: center;
    background-color:#F1DEC6 ;
    height: 15vh;
}

.logo{
    margin-left: 0;
    margin-top: 2em;
}

#searchProducts{
    width: 60vw;
    padding: 1em;
    margin-right: 0.2em;
    border-radius: 28px;
    border: 2px solid #179BAE;
}
#searchProducts:focus{
    border-color: #FF8343;
    outline: none;
}
header .icon-cart{
    margin-left: 5em;
    position: relative;
}

header .icon-cart span{
    display: flex;
    width: 2em;
    height: 2em; 
    background-color: #FF8343;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}
.material-symbols-outlined{
    background-color: #f6f6f6;
    border-radius: 50% ;
    border: 2px solid #179BAE;
    height: auto;
    padding: 0.4em;    
}

.navbar{
    background-color: #179BAE;
    height: 6vh;
    position: relative;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    position:absolute ;
    margin-top: 2em;
    
  }
.navbar li a{
    font-size: 1em;
    font-weight: bold;
    width: max-content;
    margin-left: 4em;
    background-color: #FF8343;
    border-radius: 4px;
    padding: 0.5em;
    list-style-type: none;
    text-decoration: none;
    color: white;

    
}

.navbar li a:hover{
    border: 2px solid white;
}

.cart{
    background-color: #f0f0f0;
    height: 47vh;
    position: relative;
    display: flex;
}

.products{
    position: absolute;
    background-color: #ffffff;
    height: 40vh;
    border-radius: 10px;
    margin: 3vh;
    padding: 1em;
    width: 65vw;
}

.List-details{
    display: flex;
    list-style-type: none;
}

.List-details li{
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 5em;
}
.Product{
    margin-left: 4rem;
    margin-right: 20rem;
}
.Subtotal{
    margin-left: 7em;
}

.total{
    position: absolute;
    background-color: #ffffff;
    height: 40vh;
    border-radius: 10px;
    margin-top: 3vh;
    margin-left: 68vw;
    padding: 10px;
    width: 30vw;
}
.options{
    font-weight: bold;
    font-size: 2em;
    color: #cec6c6;
}

.total .proceed{
    text-decoration: none;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    margin-top: 2.7vh;
    margin-left: 5vw;
    width: 20vw;
    background-color: #179BAE;
    border-radius: 3px;
    color: white;
    font-size: 1.5em;
}
.total a:hover{
    background-color:#FF8343 ;
}

.total .Total{
    font-weight: bold;
    font-size: 2rem;
}
.top{
    display: flex;
    justify-content: center;
    background-color: #179BAE;
}
.top a{
    font-weight: bold;
    font-size: 2em;
    padding: 0.5em;
    text-decoration: none;
    color: white;
}
.top a:hover{
    color: #FF8343;
}

.top, .total .clear-cart{
    display: flex;
    justify-content : center;
}
.total .clear-cart a{
    text-decoration: none;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    margin-left: 1vw;
    margin-top: 1.3vh;
    width: 15vw;
    background-color: #179BAE;
    border-radius: 3px;
    color: white;
    font-size: 1.5em;

}

.clear-cart a:hover{
    background-color: rgb(203, 40, 40);
}