body {
    font-family: Arial, sans-serif;
    background-color: #F1DEC6;
    /* Light Beige Background */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #4158A6;
    /* Dark Blue for Titles */
}

header nav a {
    color: #4158A6;
    text-decoration: none;
    margin: 0 10px;
}

header nav a:hover {
    text-decoration: underline;
}

.checkout-content {
    display: flex;
    justify-content: space-between;
}

.left-column,
.right-column {
    width: 48%;
}


.payment-info,
.payment-method,
.review-place-order {
    background-color: #FFFFFF;
    /* White background for boxes */
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.payment-info .form-group,
.payment-method .form-group {
    margin-bottom: 15px;
}

.payment-info label,
.payment-method label {
    display: block;
    margin-bottom: 5px;
    color: #4158A6;
    /* Dark Blue for labels */
}

.payment-info input,
.payment-method input {
    width: 95%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: #F1DEC6;
    /* Light Beige for input fields */
    color: #4158A6;
    /* Dark Blue for input text */
}

select {
    width: 99%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 4px;
    background-color: #F1DEC6;
    /* Light Beige for input fields */
    color: #4158A6;
    /* Dark Blue for input text */
}

.payment-info .checkbox {
    display: flex;
    align-items: center;
}

.payment-info .checkbox input {
    width: auto;
    margin-right: 10px;
}



.place-order-btn {
    width: 100%;
    background-color: #FF8343;
    /* Orange for Action Buttons */
    color: #FFF;
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

.place-order-btn:hover {
    background-color: #E67335;
}