body {
    font-family: Montserrat, sans-serif;
    background-color: #F1DEC6;
    color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 600px;
    /* Increased max-width for larger container */
    width: 80%;
    /* Takes 80% of available width */
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
    color: #4158A6;
    text-align: center;
    margin-bottom: 30px;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    color: #179BAE;
    font-weight: bold;
    margin-bottom: 5px;
}

input,
select {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

input:focus,
select:focus {
    border-color: #FF8343;
    outline: none;
}

.btn-submit {
    background-color: #FF8343;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}